div.opacity
{
    background-image: url("hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    z-index: 1;
}
div.parent1
{
    background-color:black ;
    height: 100%;
    width: 100%;
    opacity: .6;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    font-size:small;
    margin-bottom: 0px;
    margin-top: -5px;
    z-index: 2;
}
li{
    display: inline;
    margin:10px;
    padding: 5px;
}
a{
    color: white;
    text-decoration: none;
}
a.mm:hover
{
    text-decoration: none;
}
a.mm{
    text-decoration: none;
    font-weight: 600;
}
a:hover
{
    text-decoration: underline 3px rgb(45,202,152);
    color:white;
    font-size: medium;
}
ul
{
    margin: 30px auto 15px;
    
}
.renga
{
    margin: 30px 350px auto 70px ;
    margin-left: 50px;
    float: left;
    opacity: .7;
}
section
{
    margin:200px auto ;
    font-weight: bold;
    font-size:large;
    align-items: center;
}
h1,h3{
    text-align: center;
    margin: 5px;
}
h3
{
    font-weight: 500;
    font-size:large;
}
button.submit
{
    width: 20%;
    height: 30px;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 100px ;
    margin-bottom: 290px;
    margin-left: 40%;
    margin-right: 40%;
}
button.submit:hover
{
    cursor: pointer;
}
select
{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size:small;
    margin-top: 20px;
}
select:hover
{
    text-decoration: underline 3px rgb(45,202,152);
    color: white;
    font-size: medium;
}
div.parent2
{
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    margin-top: 0px;
}
div.second
{
    width: 50%;
    height: 50%;
    margin: 0px 0px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}
img.iiim
{
    display: inline;
    width:50%;
    height: 50%;
    float: right;
    margin-top: -50px;
}
div.first
{
    margin: 0px auto 10px 20px ;
}
svg
{
    border: 2px solid rgb(8,194,140);
    border-radius: 50% 50%;
    padding: 10px;
    margin: 20px 5px auto ;
    
}
.h3
{
    margin: -30px auto 5px 70px;
    text-align: left;
    font-weight: 600;
    font-size: medium;
    
}
.child1,.child2,.child3
{
    margin: 5px auto 0px 50px  ;
}
p.gray
{
    color: rgb(93,95,104);
    margin-left: 70px;
}
h2,p{
    margin: 5px auto 10px 50px ;
    
}
div.first,div.third
{
    margin-top: -50px;
}
