body
{
    background-color: gray;
}
div.opacity
{
    background-image: url("hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    z-index: 1;
}
div.parent1
{
    background-color:black ;
    height: 100%;
    width: 100%;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    font-size:small;
    z-index: 2;
    margin-bottom: 0px;
    margin-top: -20px;
}
li{
    display: inline;
    margin: 0px 10px 0px ;
    padding: 5px;
}
a{
    color: white;
    text-decoration: none;
}
a.mm:hover
{
    text-decoration: none;
}
a.mm{
    text-decoration: none;
    font-weight: 500;
    font-size: small;
}
a:hover
{
    text-decoration: underline 3px rgb(45,202,152);
    color:white;
    font-size: medium;
    font-weight: 500;
}
ul
{
    margin: 20px auto 15px;
    padding-top: 5px;
    
}
span.renga
{
    margin: 20px 350px auto 50px ;
    margin-left: 50px;
    float: left;
    opacity: .7;
}
section.welcome
{
    margin:200px auto ;
    font-weight: bold;
    font-size:large;
    align-items: center;
}
h1.welcome,h3.welcome{
    text-align: center;
    margin: 5px;
}
h3.welcome
{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    font-size: x-large;
}
button.submit
{
    width: 10%;
    height: 30px;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    margin-top: 100px ;
    margin-bottom: 290px;
    margin-left: 45%;
    margin-right: 40%;
}
button.submit:hover
{
    cursor: pointer;
}
select
{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size:small;
    margin-top: 20px;
}
select:hover
{
    text-decoration: underline 3px rgb(45,202,152);
    color: white;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}
div.parent2
{
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    margin-top:-200px;
}
div.second
{
    width: 40%;
    height: 50%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: rgb(255,255,255);
    display: inline;
    background-color: white;

}
div.third
{
    width:60%;
    height: 50%;
    float: right;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 10px;

}
div.first
{
    padding-top: 80px ;
    margin: 0px 0px 0px 60px ;
    background-color: rgb(255,255,255);
}
h2#myy
{
    padding: 50px auto 20px auto;
}
svg
{
    border: 2px solid rgb(8,194,140);
    border-radius: 50% 50%;
    padding: 7px;
}
div.child1,div.child2,div.child3
{
    width: 100%px;
    height: 32%;
    margin: 0px auto 0px 60px  ;
}

section.icons
{
    width: 50px;
    height: 60px;
    margin: 20px 10px 0px auto;
    display: inline;
    float: left;
    margin: top;
}
section.words
{
    width: 250px;
    height: 50px;
    margin: 25px 10px 0px 0px;
    display: inline;
}
h3.child3
{
    margin: auto;
}
p.gray
{
    color:grey;
    margin:0px auto auto 10px;
}
div.child3{
    padding-bottom: 15px;
}
